@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
:root{
    box-sizing: border-box;
    --blue-color: #5c84ec;
    --pink-color: #f03c6d;
    --paragraph-color: #707070;
}

